<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
.w3-tangerine {
  font-family: 'Tangerine', serif;
  font-size:64px
}
</style>
</head>
<div class='w3-container w3-blue w3-hover-border-color'>
<h2 class="w3-tangerine w3-text-black w3-center">Cadastro</h2>
</div>


{% extends "./base.html" %}

{% block content %}
<div class="jumbotron page-header">
</div>
<form method="POST"class="w3-container w3-text-teal">

    {% csrf_token %}

    {{ cadastro.as_p }}

    <button type="submit" class="w3-button w3-round-large w3-blue w3-hover-green">Salvar</button>

</form>
{% endblock %}


